@{
	Layout = "_LayoutForLogin";
}

@section Header{
	@inject IConfiguration Configuration
	@model ECommerce.Entity.DTOs.RetailCustomer.RetailCustomerForRegisterVM

}

<div class="row justify-content-center">
	<div class="col-lg-5 col-md-7">
		<div class="card bg-secondary border-0 mb-0">
			<div class="card-header bg-transparent pb-5">
				<div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
				<div class="btn-wrapper text-center">
					@*<a href="#" class="btn btn-neutral btn-icon">
						<span class="btn-inner--icon"><img src="~/LoginThema/icons/common/github.svg"></span>
						<span class="btn-inner--text">Github</span>
					</a>*@
					@*<a asp-controller="Account" asp-action="GoogleLogin" class="btn btn-neutral btn-icon">
						<span class="btn-inner--icon"><img src="~/LoginThema/icons/common/google.svg"></span>
						<span class="btn-inner--text">Google</span>
					</a>*@
				</div>
			</div>
			<div class="card-body px-lg-5 py-lg-5">
				<div class="text-center text-muted mb-4">
					<small>Or sign in with credentials</small>
				</div>
				<form asp-action="RegisterForRetailCustomer" method="post">
					@Html.AntiForgeryToken()
					<div class="form-group mb-3">
						<div class="input-group-merge input-group-alternative">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="ni ni-email-83"></i></span>
								<input asp-for="FirstName" class="form-control" placeholder="Adınız..." type="text">
								<span asp-validation-for="FirstName" class="alert-danger"></span>
							</div>
						</div>
					</div>
					<div class="form-group mb-3">
						<div class="input-group-merge input-group-alternative">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="ni ni-email-83"></i></span>
								<input asp-for="Lastname" class="form-control" placeholder="Soyadınız..." type="text">
								<span asp-validation-for="Lastname" class="alert-danger"></span>
							</div>
						</div>
					</div>
					<div class="form-group mb-3">
						<div class="input-group-merge input-group-alternative">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="ni ni-email-83"></i></span>
								<input asp-for="PhoneNumber" class="form-control" placeholder="Telefon No..." type="tel">
								<span asp-validation-for="PhoneNumber" class="alert-danger"></span>
							</div>
						</div>
					</div>
					<div class="form-group mb-3">
						<div class="input-group-merge input-group-alternative">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="ni ni-email-83"></i></span>
								<input asp-for="Email" class="form-control" placeholder="Email..." type="email">
								<span asp-validation-for="Lastname" class="alert-danger"></span>
							</div>
						</div>
					</div>
					<div class="form-group mb-3">
						<label>Doğum Tarihiniz</label>
						<div class="input-group-merge input-group-alternative">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="ni ni-email-83"></i></span>
								<input asp-for="Age" class="form-control" type="date">
								<span asp-validation-for="Age" class="alert-danger"></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group input-group-merge input-group-alternative">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
							</div>
							<input asp-for="Password" class="form-control" placeholder="Password" type="password">
						</div>
						<span asp-validation-for="Password" class="alert-danger"></span>
					</div>
					<div class="g-recaptcha" data-sitekey="@Configuration["Captchav2:PrivateKey"]" data-callback="onloadCallback"></div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary my-4">Sign in</button>
					</div>
				</form>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-6">
				<a href="#" class="text-light"><small>Forgot password?</small></a>
			</div>
			<div class="col-6 text-right">
				<a href="#" class="text-light"><small>Create new account</small></a>
			</div>
		</div>
	</div>
</div>